*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;

}

body{
	font-size: 20px;
	overflow-x: hidden; 
}

h1{
	color: white;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('cafe.jpg');
	height: 100vh;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clearfix:after{
content: ".";
visibility: hidden;
display: block;
height: 0px;
clear: both;	
}





 .row{
 	max-width: 1180px;
 	margin: 0 auto;
 }

 .logo{
 	height: 120px;
 	width: auto;
 	float: left;
 	margin-top: 20px; }

 	.main-nav{
 		float: right;
 		margin-top: 60px;
 	}

 	.main-nav li{
 		display: inline-block;
 		list-style: none;
 		margin-left: 51px;
 		text-transform: uppercase;
 	}	
 




























 .main-nav li a{
 	color: white;
 	text-decoration: none;
 	text-transform: uppercase;
 	font-size: 90%;
 	font-weight: 100;
 }

